#add_object_popup.popup_container
  .popup_bg
  .popup
    .popup_inner
      %h2.popup_title Додати об’єкт
      %form#object_form{action: '/api/map_objects.json', enctype:"multipart/form-data"}
        .popup_top_fields
          %input#map_object_name.popup_input.margin-right{name:'map_object[name]',placeholder: 'Назва об’єкта'}>

          %select#category_select.popup_select{name:'map_object[category_id]'}
            %option{value: "", selected: "", disabled:""} Категорія об’єкта

        %label.popup_top_fields-label наприклад: Ресторан «Корівка»
        #add_object_map
        .popup_search_container
          / todo fix that
          %input#popup_search{placeholder: 'Адреса'}
          %button.search_button
        .popup_add_files
          .btn.add-image.margin-right.left>
            %i
              Фото існуючого стану
            %input.add-image_input.left{name: 'map_object[before_photo]', type: 'file'}
          .btn.add-image.right
            %i
              Проект-пропозиція до об’єкта
            %input.add-image_input.right{name: 'map_object[after_photo]', type: 'file'}
        %input.lat{type:'hidden', name:'map_object[location][]'}
        %input.lng{type:'hidden', name:'map_object[location][]'}
        %input.street{type:'hidden', name:'map_object[address][street]'}
        %input.prefix{type:'hidden', name:'map_object[address][prefix]'}
        %input.route{type:'hidden', name:'map_object[address][building_number]'}
        %input.popup_input.popup_comment{name:'map_object[description]',placeholder: 'Короткий опис'}>

        #img-container
          %ul#img-list

        %input.btn.btn-short.save_object.disabled#submit_object{type: 'submit', value: 'Додати'}


#addition_success-popup.popup_container
  .popup_bg
  .popup
    .popup_inner
      %a.add_success-to_project-icon
      %a.add_success-to_project-text перглянути проект
      %p.add_success-description Об’єкт упішно додано! </br> Дякуємо!
      %span.add_success-success-icon.popup_close
