.left_panel

  %header.site_header
    .container
      %span#about_toggle.question_sign ?
      %h1.site_title Takealook.if.ua
      -#%label.sorting_label а-я
      .auth-block
        %button#login Увійти
        %button#show-profile EMPTY

  .left_panel-content_container
    .left_panel-content
      %ul#letters_list.objects_list



  %footer.site_footer#categories


.right_container
  -# todo написати нормальний текст "про проект"
  #about
    .about_container
      %h2.about_title Про проект
      .about_text
        %p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
        %p Text testsafasdfasdf
        %p Text testsafasdfasdf
        %p Text testsafasdfasdf




  #map_and_object
    #map
    .search_container
      %input#search.search{type: 'text', placeholder: 'Введіть назву вулиці та номер будинку'}

    #add_object
      +
      .tooltip додати пропозицію


    #map_object.map-object
      #map_object_close x
      %header.map-object_header
        .map-object_author
          %img.map-object_author_avatar#map_object_author_avatar
          .map-object_author_name#map_object_author_name Андрій Назаренко
          .map-object_author_desc автор проекту
        %h2.map-object_title#map_object_title
        %h3.map-object_address#map_object_address

      .map-object_photo-section
        .map-object_image-container
          %button#map-object_image-button.map-object_image-button Фото існуючого стану
          %img#map-object_image-before.map-object_image{src: 'assets/fasad.jpg'}
          %img#map-object_image-after.map-object_image.alfa-zero{src: 'assets/fasad.jpg'}
        .map-object_left-panel
          .map-object_button
          .map-object_description
          .map-object_discus

=render "popup_form"
=render "popup_user"

