.left_panel

  %header.site_header
    .container
      %span.question_sign ?
      %h1.site_title Takealook.if.ua
      -#%label.sorting_label а-я


  .left_panel-content_container
    .left_panel-content
      %ul#letters_list.objects_list



  %footer.site_footer#categories


.right_container
  #map

  .search_container
    %input#search.search{type: 'text', placeholder: 'Введіть назву вулиці та номер будиноку'}

  #add_object.open-popup{'data-id' => 'add_object_popup'} +


#add_object_popup.popup_container
  .popup_bg
  .popup
    .popup_inner
      %h2.popup_title Додати об’єкт
      .popup_top_fields
        %input.popup_input.margin-right{placeholder: 'Назва об’єкта'}>
        %input.popup_input{placeholder: 'Категорія об’єкта'}
      %label.popup_top_fields-label наприклад: Ресторан «Корівка»
      #add_object_map
      .popup_search_container
        %input#popup_search.search{placeholder: 'Адреса'}
      .popup_add_files
        .btn.add-image.margin-right> Фото існуючого стану
        .btn.add-image Проект-пропозиція до об’єкта
      %input.popup_input.popup_comment{placeholder: 'Короткий опис'}>
      .btn.btn-short.save_object#submit_object Додати
