.left_panel

  %header.site_header
    .container
      %span.question_sign ?

      %h1.site_title Takealook.if.ua



      -#%label.sorting_label а-я


  .left_panel-content_container
    .left_panel-content
      %ul#letters_list.objects_list



  %footer.site_footer
    .marker-desc
      .marker.green
      .desc
        Заклади
        культури та освіти
    .marker-desc
      .marker.orange
      .desc
        Заклади
        культури та освіти
    .marker-desc
      .marker.yellow
      .desc
        Заклади
        культури та освіти
    .marker-desc
      .marker.blue
      .desc
        Заклади
        культури та освіти
    .marker-desc
      .marker.purple
      .desc
        Заклади
        культури та освіти

.right_container
  #map

  .search_container
    %input#search.search{type: 'text', placeholder: 'Введіть назву вулиці та номер будиноку'}