/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require normalize
 *= require_self
*/

@import "compass";

html, body{
    height: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



.left_panel{
    width: 450px;
    height: 100%;
    background: red;
}
    .site_header{
        height: 154px;
        padding: 25px 20px 8px 40px;
        background: #fff;
        position: relative;
    }
        .site_title{
            font-size: 36px;
            margin: 0;
            font-weight: 300;
        }
        .question_sign{
            display: block;
            width: 26px;
            height: 26px;
            float: right;
            font-size: 18.6px;
            color: #fff;
            background: #74777b;
            @include border-radius(50%);
            padding-left: 9px;
            margin-top: 12px;
        }
        .sorting_label{
            font-weight: 700;
            position: absolute;
            bottom: 9px;
            right: 20px;
        }
