/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require normalize
 *= require html5bp
 *= require dropkick
 *= require_self
*/

@import "compass";


$blue: #4d8ffd;
$dark: #585d64;

html, body{
    height: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
    font-size: 18px;
    background-color: green;
}
input, textarea{
    -webkit-font-smoothing: antialiased;
    color: $dark;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


::-webkit-input-placeholder { color: $dark; font-weight: 300; font-size: 18px; -webkit-font-smoothing: antialiased; }
:-moz-placeholder { color: $dark; font-weight: 300; font-size: 18px; }
::-moz-placeholder { color: $dark; font-weight: 300; font-size: 18px; }
:-ms-input-placeholder { color: $dark; font-weight: 300; font-size: 18px; }
.placeholder { color: $dark; font-weight: 300; font-size: 18px; }


h1, h2, h3, h4, h5, h6{
    font-weight: 300;
}


.circle{
    @include border-radius(50%);
}


.empty {
    border: 1px solid red;
}



// INPUTS begin

.input_block_default{
    width: 362px;
    height: 61px;
    @include border-radius(3px);

    padding: 10px 20px;
    line-height: 40px;

    font-weight: 500;
    //cursor: pointer;
    border: none;

    background-repeat: no-repeat;
    background-position: right center;

    &:focus{
        outline: none;
        //@include box-shadow(inset 1px 1px 2px #c9c9c9, 0 0 0 2px #f3e97f);
    }
}

.input_btn_default{
    @extend .input_block_default;
    cursor: pointer;
    color: #fff;
}

.btn_social{
    @extend .input_btn_default;
    padding: 10px 42px;
    font-weight: 300;
    margin-bottom: 20px;
}

.btn_social_facebook{
    @extend .btn_social;
    background-color: #5d82d1;
    background-image: inline-image("social-icons/facebook.png");
}
.btn_social_twitter{
    @extend .btn_social;
    background-color: #40bff5;
    background-image: inline-image("social-icons/twitter.png");
}
.btn_social_gplus{
    @extend .btn_social;
    background-color: #eb5e4c;
    background-image: inline-image("social-icons/gplus.png");
}

.btn_social_mini{
    width: 61px;
    padding: 0;
    margin: 0 17px 0 0;
}
// INPUTS end






.left_panel{
    width: 450px;
    height: 100%;
    background: #fff;
    position: absolute;
    left: 0; top: 0;
    z-index: 999;
}
    .site_header{
        height: 154px;
        width: 100%;

        position: absolute;
        left: 0;top:0;

        padding: 21px 18px 8px 38px;
    }
        .site_title{
            font-size: 36px;
            margin: 0 0 11px 0;
            font-weight: 300;
        }
        .question_sign{
            @extend .circle;
            display: block;
            width: 26px;
            height: 26px;
            float: right;
            font-size: 18.6px;
            color: #fff;
            background: #74777b;
            padding-left: 9px;
            margin-top: 12px;
            cursor: pointer;
        }
        .auth-block{
        }
            #login, #show-profile{
                font-size: 12px;
                border: none;
                background: none;
                margin: 0;
                padding: 0;
            }
            #show-profile{display: none;}

        .sorting_label{
            font-weight: 700;
            position: absolute;
            bottom: 3px;
            right: 18px;
        }

    .left_panel-content_container{
        padding: 154px 0 136px;
        height: 100%;
        width: 100%;
    }

        .left_panel-content{
            height: 100%;
            width: 100%;
            overflow-y: scroll;
            @include box-shadow(rgba(0,0,0,0.07) 0 36px 36px -36px inset, rgba(0,0,0,0.07) 0 -36px 36px -36px inset);
        }

            .objects_list{
                list-style: none;
                padding: 23px 20px 0px 40px;
                margin: 0;
            }


                .objects_block{
                    margin-bottom: 19px;
                    position: relative;
                }
                    .letter{
                        width: 42px;
                        height: 42px;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        margin: auto;

                        font-weight: 600;
                        font-size: 30px;
                        color: #74777b;


                    }
                    .letter_objects{
                        display: inline-block;
                        width: 330px;
                        list-style: none;
                        padding: 0;
                        margin-left: 42px;
                    }
                        .object_name{
                            line-height: 30px;
                            cursor: pointer;
                            &:hover{
                                color: #4d90fe;
                            }
                        }



    .site_footer{
        height: 136px;
        width: 100%;

        padding: 24px 15px 10px 41px;

        position: absolute;
        bottom: 0;left: 0;
    }
        .marker-desc{
            height: 40px;
            width: 130px;

            cursor: pointer;

            margin-bottom: 12px;

            line-height: 34px;
            float: left;

            .marker{
                width: 24px;
                height: 34px;

                float: left;

                &.green   { background: image-url('small-marker-green.png');  }
                &.red     { background: image-url('small-marker-red.png'); }
                &.yellow  { background: image-url('small-marker-yellow.png'); }
                &.blue    { background: image-url('small-marker-blue.png');   }
                &.purple  { background: image-url('small-marker-purple.png'); }
                &.all     { background: image-url('small-marker-all.png'); }
            }
            &.disactive{
                .marker{
                    background: image-url('small-marker-disactive.png') !important;
                }
            }
            .desc{
                font-size: 12px;
                line-height: 11px;
                padding-left: 3px;
                display: inline-block;
                vertical-align: bottom;
                width: 106px;
            }

        }

//         RIGHT

.right_container{
    width: 100%;
    height: 100%;
    padding-left: 450px;
    position: relative;
    overflow: hidden;
}
    #map_and_object{
        width: 100%;
        height: 100%;
    }

    .show-object{
        #map{ height: 154px;}
        .search_container,
        #add_object{ display: none; }
    }

        #map{
            width: 100%;
            height: 100%;
            @include transition(height 0.5s);
        }



        .search_container{
            position: absolute;
            top: 20px;
            left: 469px;
            z-index: 999;
        }
            .plate{
                @extend .input_block_default;
                width: 472px;
                background-color: #fff;
                padding: 10px 25px;
            }

            .search_container input{
                @extend .plate;
                padding-right: 80px;
                background-image: inline-image("search.png");
            }

            .search_container .tt-suggestion{
                @extend .plate;
                margin: 5px 0;
                font-weight: 300;
                p{ margin: 0; }
            }




        #add_object{
            @extend .circle;
            width: 74px;
            height: 74px;
            position: absolute;
            right: 75px;
            bottom: 65px;
            color: $blue;
            background: #fff;
            font-size: 74px;
            font-weight: 300;
            text-align: center;
            line-height: 74px;
            cursor: pointer;
        }


        .map-object{
            width: 100%;
            height: 100%;
            margin-top: -154px;
            padding: 170px 26px 30px 36px;
            background: #fff;
            @include box-shadow(rgba(0,0,0,0.1) 43px 192px  43px -47px inset);
        }
            #map_object_close{
                float: right;
                cursor: pointer;
                display: block;
                background-color: $blue;
                color: #fff;
                width: 21px;
                height: 21px;
                text-align: center;
                line-height: 18px;
                font-weight: 500;
                @include border-radius(50%);
            }
            .map-object_header{

            }
                .map-object_author{
                    float: right;
                    width: 285px;
                }
                          .map-object_author_avatar{
                              width: 50px;
                              height: 50px;
                              float: left;
                              margin-right: 10px;
                              background: red;
                          }
                          .map-object_author_name{
                              font-size: 18px;
                              margin-top: 12px;
                          }
                          .map-object_author_desc{
                              font-size: 12px;
                          }
                .map-object_title{
                    font-size: 30px;
                    line-height: 24px;
                    margin: 0;
                }
                .map-object_address{
                    font-size: 18px;
                    margin: 6px 0 0;
                }

            .map-object_photo-section{
                height: 100%;
                width: 100%;
                overflow: hidden;
                padding: 15px 0 55px;
                text-align: center;
            }
                .map-object_image-container{
                    position: relative;
                    width: 100%;
                    height: 100%;
                }
                    .map-object_image{
                        position: absolute;
                        left: 0;
                        right: 0;
                        margin: auto;
                        height: 100%;
                        width: auto;
                        @include transition(all 0.5s);
                    }
                    .alfa-zero{
                        @include opacity(0);
                    }
                .map-object_image-button{
                    @extend .input_btn_default;
                    background-color: #4d8ffd;
                    position: absolute;
                    left: 40px;
                    top: 40px;
                    width: 245px;
                    z-index: 99;
                }

                .map-object_left-panel{}
                    .map-object_button{}
                    .map-object_description{}
                    .map-object_discus{}


    #about{
        width: 0;
        @include transition(width 0.5s);

        height: 100%;
        z-index: 99999;
        position: absolute;
        background: #fff;
        overflow: hidden;
        @include box-shadow(rgba(0,0,0,0.1) 43px 0  43px -43px inset);
        &.active{
            width: 780px;
        }
    }
        .about_container{
            padding: 21px 40px 40px 64px;
            position: absolute;
            width: 780px;
            right: 0;
        }
            .about_title{
                font-size: 36px;
                margin: 0;
            }
            .about_text{
                font-weight: 300;
                font-size: 18px;
                line-height: 30px;
                margin-top: 30px;
            }



.popup_container{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    display: none;
    &.active{
        display: block;
    }
}
    .popup_bg{
        background: #75787c;
        @include opacity(0.8);
        position: absolute;
        top: 0;left: 0;
        width: 100%;
        height: 100%;
    }
    .popup{
        position: absolute;
        margin: auto;
        top: 0;bottom: 0;left: 0;right: 0;
        background: #fff;
        padding: 30px 52px;
    }
    .popup_inner{
        width: 100%;
        height: 100%;
    }

        .popup_title{
            font-size: 18px;
            font-weight: 300;
            margin: 0 0 32px 0;
        }

        .popup_input_padding{
            padding: 10px 18px;
        }

        .popup_input{
            @extend .input_block_default;
            @extend .popup_input_padding;
            background-color: #ebebeb;
        }
        .popup_btn_blue{
            @extend .input_btn_default;
            @extend .popup_input_padding;
            background-color: $blue;
            color: #fff;
        }



#add_object_map{
    height: 180px;
    width: 893px;
    margin-left: -52px;
    background: lightgray;
}



#add_object_popup{
    .popup{
        width: 893px;
        height: 630px;
    }

    .margin-right{
        margin-right: 64px;
    }

    .popup_select{
        float: right;
        width: 362px;
    }

    .popup_top_fields-label{
        display: block;
        font-size: 14px;
        padding: 7px 18px 16px;
    }

    .popup_search_container{
        position: absolute;
        top: 210px;
        z-index: 99999;
    }
        #popup_search {
            @extend .popup_input;
            float:left;
            width: 290px;
            background: #fff;
            @include border-radius(3px 0 0 3px);
        }

        .search_button{
            @extend .popup_btn_blue;
            width:72px;
            padding:0;
            background-image: inline-image("search.png");
            @include border-radius(0 3px 3px 0);
        }



    .popup_add_files{
        margin: 20px 0 10px;
    }
        .add-image{
            @extend .popup_btn_blue;
            display: inline-block;
            background-image: inline-image("add-file.png");
            position: relative;
        }
            .add-image_input{
                cursor: pointer;
                opacity: 0;
                filter: alpha(opacity=0);
                -moz-opacity: 0;
                text-indent: -99px;
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
            }

    .popup_comment{
        width: 100%;
        margin-bottom: 20px;
    }

    .save_object{
        @extend .popup_btn_blue;
        width: 162px;
        padding-right: 60px;
        background-image: inline-image("plus.png");
        float: right;
    }
}

#addition_success-popup{
    .popup{
        @extend .circle;
        width: 384px;
        height: 384px;
        padding: 50px 40px 55px;
        text-align: center;
    }
        .add_success-to_project-icon{
            @extend .circle;
            display: block;
            width: 31px;
            height: 31px;
            margin: auto;
            background-color: $dark;
            cursor: pointer;

            background-image: inline-image("icon-arrow-right.png");
            background-repeat: no-repeat;
            background-position: center center;
        }
        .add_success-to_project-text{
            font-size: 14px;
            font-weight: 600;
            text-decoration: underline;
            margin-top: 5px;
            cursor: pointer;
        }
        .add_success-description{
            font-size: 24px;
            font-weight: 600;
            margin: 60px 0 50px;
        }
        .add_success-success-icon{
            @extend .circle;
            display: block;
            width: 45px;
            height: 45px;
            margin: auto;
            background-color: $blue;
            background-image: inline-image("icon-success.png");
            background-repeat: no-repeat;
            background-position: center center;
            cursor: pointer;
        }
}


#login-popup{
    .popup{
        width: 467px;
        //height: 355px;
        height: 275px;
    }
}


#profile-popup{
    .popup{
        width: 932px;
        //height: 740px;
        height: 370px;
    }
}
    //header
    .profile-popup_author_name{
        line-height: 50px;
        float: right;
    }
    .profile-popup_author_avatar{
        width: 50px;
        height: 50px;
        float: right;
        margin-left: 10px;
    }
    .profile-popup_title{
        line-height: 50px;
        margin-bottom: 15px;
    }
    .profile-popup_line{
        margin: 0 0 25px 0;
    }

    //accounts
    .profile-popup_connected_accounts{
        //width: 474px;
        float: left;
    }
        .profile-popup_title_small{
            margin-bottom: 12px;
        }

        .social_account{
            margin: 0 0 20px 0;
            width: 410px;
        }
            .social_account_icon{
                float: left;
            }
            .social_account_username{
                font-weight: 500;
                margin: 0;
                color: $dark;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }


    .profile-popup_connect_accounts{
        //width: 474px;
        float: right;
    }


ol{
    counter-reset:li; /* Initiate a counter */
    margin:0;
    padding: 2px 0 0;
}
ol > li {
    position:relative; /* Create a positioning context */
    margin:0 0 30px 2em; /* Give each list item a left margin to make room for the numbers */
    padding:3px 8px; /* Add some spacing around the content */
    list-style:none; /* Disable the normal item numbering */
}
ol > li:before {
    content:counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    /* Position and style the number */
    position:absolute;
    top:-2px;
    left:-2em;
    font-size:15px;
    @include box-sizing(border-box);
    @include border-radius(3px);
    width:2em;
    /* Some space between the number and the content in browsers that support
       generated content but not positioning it (Camino 2 is one example) */
    margin-right:8px;
    padding:4px;
    color:#fff;
    background: $blue;
    font-weight:bold;
    text-align:center;
}
ol > li:hover:before {
    color: #ffff00;
}



// map infoWindow
.gm-style .gm-style-iw div{
    font-size: 18px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}
